@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
}

.btn:focus{
    box-shadow: none;
}

.btn-close:focus{
    box-shadow: none;
}

.bg-image{
    background-image:url('./images/test.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 100%;
}

.card-header-container{
    display: flex;
    justify-content: space-between;
}

.card-row-container{
    display: flex;
    flex-direction: column;
}
