@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
}

body{
  text-transform: capitalize;
  background: rgb(135, 135, 185)
}
.container{
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: 0;
  
 
}

.destacados{
  padding: 10px 0;
  
}  
.box1{
  padding-left: 10px;
  
} 
.box1 h4 {
  position:relative;
  left: 13%;
  padding: 10px 20px;
  margin: 10px 0px;
  margin-left: -30px;
  font-size: 25px;
  line-height:32px;
  font-weight:bold;
  color:#fff;
  background:#05054d;
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  zoom:1; 
}

.box1 h4:before,
.box1 h4:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent maroon;
}

/********************* seconde ******************************/

.destacadose{
  padding: 10px 0;
}   
.box2 h4 {
  position:relative;
  left: 13%;
  padding: 10px 20px;
  margin: 1px 0px;
  margin-left: -30px;
  font-size: 16px;
  line-height: 15px;
  font-weight:bold;
  color:#fff;
  background:#149ccf;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box2 h4:before,
.box2 h4:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent #066487;
}

/********************* upload **************************/
#files {
display: none;
}

.nnah{
  padding: 0;
  margin: 5px;
}

.nnahs{
  padding: 0;
}

.close{
  position: absolute;
  z-index: 1;
  font-size: 14px;
  margin-left: -5px;
  margin-top: -7px;
}

.close span{
  opacity: 1;
  color: #000;
}
.form-control{
  padding: 7px;
  margin: 10px;
  box-sizing: border-box;
}
.dirhame{
  width: 229.47px;
  height: 40px;
  display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  
}
label{
  position: relative;
left: 3%;}


.btn:focus{
  box-shadow: none;
}

.btn-close:focus{
  box-shadow: none;
}